.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.grid button {
    width: 140px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}