.master-container {
    display: flex;
    gap: 40px;
    width: 100%;
    height: 100%;
}

.master-left {
    width: 300px;
    flex-shrink: 0;
}

.master-right {
    flex: 1;
    min-width: 0;
}

.category-item {
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

.clickable {
  cursor: pointer;
  padding: 8px;
  border-radius: 6px;
}

.clickable:hover {
  background-color: #eee;
}